<%= render "shared/navbar" %>
<p id="notice"><%= notice %></p>

<h1 id="index_h1">Stars</h1>

<div class="cards-container">
  <% @stars.each do |star| %>
    <%= link_to  star_path(star) do %>
      <div class="card" >

        <div class="card-image"><%= cl_image_tag star.photo.key %></div>
        <div class="card-description">
        <div id= "card-name">
          <strong><%=  star.name %></strong>
          <p><strong><%= star.price_per_night %> </strong></p>
        </div>
          <p><%= star.location %></p>
        <%# <%= star.capacity %>
        <%# <%= star.climate.downcase %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render "shared/footer" %>
