<p id="notice"><%= notice %></p>

<h1>Stars</h1>

<table>
<thead>
  <% @stars.each do |star| %>
    <tr>
      <th><%= link_to star.name, star_path(star) %></th>
      <th><%= star.location %></th>
      <th><%= star.capacity %></th>
      <th><%= star.climate %></th>
      <th><%= star.price_per_night %></th>
      <th colspan="3"></th>
    </tr>
  <% end %>

