<p id="notice"><%= notice %></p>

<h1>Stars</h1>

<div class="cards-container">
  <% @stars.each do |star| %>
    <div class="card">
      <div class="card-image"><%= cl_image_tag star.photo.key %></div>
      <div class="card-description">
        <%= link_to star.name, star_path(star) %>
        <%= star.location %>
        <%= star.capacity %>
        <%= star.climate.downcase %>
        <%= star.price_per_night %>
      </div>
    </div>
  <% end %>
</div>
