<h1>Be like a GOD, create a star</h1>

<%= simple_form_for(star) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :capacity %>
    <%= f.input :climate %>
    <%= f.input :price_per_night %>
    <%= f.submit %>
<% end %>

<%= link_to 'Back', stars_path %>