<div class="navbar dream">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://static.nationalgeographic.fr/files/styles/image_3200/public/PIA03519-1920x1200.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/index", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "details", "/show", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://s3.us-west-2.amazonaws.com/secure.notion-static.com/b4344289-8489-4161-8d32-8e5d0c9de37e/01_betelgeuse_eso0927e.adapt_.1900.1.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20221123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20221123T101350Z&X-Amz-Expires=86400&X-Amz-Signature=9b74b26d0183e48d66e07aac2968bcf9250fe71d43ae333982babcee7d3f0c9f&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%2201_betelgeuse_eso0927e.adapt_.1900.1.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
