<%= render "shared/navbar" %>
<div class = "container_dash">
<div class="title_dashboard">
<h1 class="title_dashboard">Mon dashboard</h1>

<% @bookings.each do |element|%>
  <%= element.status %>
  <%= element.arrival_date %>
  <%= element.departure_date %>
  <%= element.total_price%>
<% end %>

<% @stars.each do |detail| %>
  <%= detail.name %>
  <%= detail.price_per_night%>
<% end %>

<form method="patch" class="button_to">
<button type="submit">ACCEPTED</button>
<input name="authenticity_token" type="hidden" value="10f2163b45388899ad4d5ae948988266befcb6c3d1b2451cf657a0c293d605a6"/>
</form>

<form method="patch" class="button_to">
<button type="submit">DECLINED</button>
<input name="authenticity_token" type="hidden" value="10f2163b45388899ad4d5ae948988266befcb6c3d1b2451cf657a0c293d605a6"/>
</form>



<% @books_stars.each do |booking| %>
  <%= booking.star.name %>
  <%= booking.star.price_per_night %>
  <%= booking.status %>
  <%= booking.total_price %>

<% end %>



<%= render "shared/footer" %>
