<%= render "shared/navbar" %>

  <div class = "container_dash">
  <h4 class="button_etoile_dash"><%= link_to "create your etoile",  new_host_star_path %></h4>
    <div class="title_dashboard">


  <h1>Mon dashboard</h1>
<%# si size booking = 1 donc element au milieu avec grid, grid area %>
  </div>
    </div>
      <h5><div class="card-header" >My booking </h5></div>
      <div class= "grid-dash">

        <% @bookings.each do |element|%>
        <div class="card">
        <div class="card-image"><%= cl_image_tag element.star.photo.key %> </div>
          <div class="card-description">
            <div>
              <div class = "booking_star_dispo  etir_margin" ><strong> <%= element.star.name %></strong>
              <%= element.total_price%></div>
              <div class = "booking_star_dispo">
              <div class = "retir_margin"> <strong><%= element.status %> </strong></div>
                <div><%= element.arrival_date %> </div>
                <div></div><%= element.departure_date %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    <h5><div class="card-header margin-head" >My stars </h5></div>

    <div class= "grid-dash">
      <% @stars.each do |detail| %>
      <div class="card">
        <div class = "rassemblement" >
          <div class="card-image"><%= cl_image_tag detail.photo.key %></div>
          <div class="card-description">
            <div class = "booking_star_dispo">
              <div><strong><%= detail.name %></strong></div>
              <div><%= detail.price_per_night%> </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>



  <h5><div class="card-header margin-head" >My star booked </h5></div>
  <div class= "grid-dash">
    <% @books_stars.each do |booking| %>
      <div class="card">
        <div class="card-image"><%= cl_image_tag booking.star.photo.key %></div>
          <div class="card-description">
            <div class = "booking_star_dispo">
              <div><strong> <%= booking.star.name %></strong></div>
              <div><%= booking.status %> </div>
              <div> <%= booking.total_price%></div>
            </div>
                <div class = "button-dach-accep" >
                  <%= link_to "accept", accept_host_booking_path(booking) , data: { turbo_method: :patch },class: "link" %>
                  <%= link_to "decline", decline_host_booking_path(booking) , data: { turbo_method: :patch },class: "link"%>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>



</div>
<%= render "shared/footer" %>
