<%= render "shared/navbar" %>
<div class = "container_dash">
<div class="title_dashboard">
<h1>Mon dashboard</h1>

<div id = "dash_grid">
  <% @bookings.each do |element|%>
    <div class="pas_idee" >

      <%= element.status %>
      <%= element.arrival_date %>
      <%= element.departure_date %>
      <%= element.total_price%>
    </div>
  <% end %>

  <% @stars.each do |detail| %>
    <div class=" pas_idee" >
      <div class="card-image"><%= cl_image_tag detail.photo.key %></div>
        <div class="card-description">
      <%= detail.name %>
      <%= detail.price_per_night%>
      </div>
    </div>
  </div>
  <% end %>



  <% @books_stars.each do |booking| %>
    <div class=" pas_idee">
      <div class="card-image"><%= cl_image_tag booking.star.photo.key %></div>
        <div class="card-description">
          <%= booking.star.name %>
          <%= booking.star.price_per_night %>
          <%= booking.status %>
          <%= booking.total_price %>
        </div>
      </div>
    </div>
  <% end %>

</div>



<%= render "shared/footer" %>
